html {
width: 100vw;
height: 100vh;
}
body{
 background: url(./caspar-rubin-398212.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.app-container{
 width: 100vw;
 height: 100vh;
 position: relative;
}
.login-form{
 width: 50vw;
 float: right;
 padding: 2vw;
 position: relative;
 height: 60vh;
}

.signup-form{
  width: 50vw;
  padding: 2vw;
  position:relative;
}

.signup-message{
  float: left;
  margin-left: 2vw;
  bottom: 25vh;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.wheel-container{
 width:25vw;
 margin: auto;
}
.background-container{
 background-image: url(./caspar-rubin-39821.jpg);
 width: 100vw;
 height: 100vh;
 background-position: center;
 background-size: cover;
}

#app{
 width: 100vw;
 height: 100vh;
}
.lifecoach{
 margin:auto;
 text-align:center;
 font-family: 'Lobster', cursive;
 font-size: 8vw;
 color:white;
 margin-bottom: 4vh;
 margin-left: auto;
 margin-right:'auto';
 width:45vw
}
.lifecoach-header{
 font-family: 'Lobster', cursive;
 font-size: 5vh;
}
.history{
 background-color: white;
}
.slider {
 width: 10vw;
}
.bodyText{
 text-transform:full-width;
 font-family: 'Rokkitt', serif;
 color: rgba(53, 53, 53, 0.65);
}
.home-text{
 margin-top: 15vh;
 margin-bottom: 25vh;
 text-align: center;
}
.jumbotronHeader{
 text-align: center;
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
 color: maroon;
}
.jumbotronHeader2{
 margin-top: 10vh;
 text-align: center;
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
 font-size: 7vh;
}
.navigationBar{
 position: fixed;
 z-index: 1;
 width:100vw;
}
.introForm{
 background-color: tan;
}
.title{
 color: white;
}
.submitForm {
 border: 1px solid black;
 border-radius: 5px;
 text-align: center;
 width: 10vw;
 padding:.5vh;
 background-color:rgba(0, 0, 0, 0);
 cursor: pointer;
}
.submitForm:hover {
 background-color: white;
 cursor:pointer;
}

.submitForm2 {
 border: 1px solid rgb(70, 70, 70);
 border-radius: 5px;
 text-align: center;
 width: 10vw;
 padding:.5vh;
 background-color:rgb(70, 70, 70);
 cursor: pointer;
 margin-left: 1vw;
 color: white;
}
.submitForm2:hover {
 background-color: white;
 color: maroon;
 cursor:pointer;
}

.list-group1{
 margin-top: 5vh;
}
.list-item{
 margin-top: 1vh;
}
.history-slider{
 text-align: center;
}
.home-link{
 color: maroon;
}
.branded{
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
}
.subheader{
 margin-top: 4vh;
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
 text-align: center;
 color:maroon;
}
.subheader2{
 margin-top: 8vh;
 font-size: 75px;
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
 text-align: center;
}
.subheader3{
 margin-top: 4vh;
 font-size: 10vh;
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
 text-align: center;
 color:maroon;
}
.home-link:hover{
 color: white;
 cursor: pointer;
}
#Canvas1 {
/*border: dotted 1px black;*/
}

.canvasFloat{
 float:right;
 color: maroon;
 text-align: center;
 font-family: 'Lobster', cursive;
}

.wheel-sliders{
 float:left;
}
.canvasCenter{
 text-align: center;
}

.column-labels{
  color:maroon;
  font-family: 'Rokkitt', serif;
}

.invalidUser{
  color: white;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 0px;
}
.left-container{
  width:60vw;
  height: 100vh;

}
.right-container{
  width:40vw;
  height: 100vh;
}


@media (max-width:1400px) {

  .canvasFloat{
  float: none;
  display:flex;
  justify-content: center;
  }

  .wheel-sliders{
    float: none;
    display: flex;
    justify-content: center;
  }
}
