html {
width: 100vw;
height: 100vh;
}

.signup-form{
  color:#F9A603;
  width:240px;
  position:relative;
  margin-bottom: 50px;
}

.signup-message{
  text-align: center;
  color: red;
  font-family: 'Rokkitt', serif;
}

.signup-message2{
  text-align: center;
  color: black;
  font-family: 'Rokkitt', serif;
}

.lifecoach{
 margin:auto;
 text-align:center;
 font-family: 'Lobster', cursive;
 font-size: 120px;
 color:white;
 margin-bottom: 4vh;
 margin-left: auto;
 margin-right: auto;

}
.lifecoach-header{
 font-family: 'Lobster', cursive;
 font-size: 5vh;
}

.bodyText{
 font-family: 'Rokkitt', serif;
 color:black;
}
.home-text{
 color: black;
 margin-bottom: 7vh;
 text-align: center;
 margin-left: 70px;
 margin-right: 70px;
 width:800px;
}

.jumbotronHeader2{
 margin-top: 8vh;
 text-align: center;
 font-family: 'Rokkitt', serif;
 letter-spacing: 5px;
 font-size: 7vh;
 color: black;
 margin-bottom: 0;
}
.navigationBar{
 position: fixed;
 z-index: 1;
 width:100vw;
}

.submitForm {
 border: 1px solid black;
 border-radius: 5px;
 text-align: center;
 width:80px;
 padding:.5vh;
 background-color:#F9A603;
 cursor: pointer;
 color:rgba(255,255,255, 0.8);
}
.submitForm:hover {
 background-color: #F25C00;
 cursor:pointer;
 color: white;
}

.submitForm2 {
 border: 1px solid rgb(70, 70, 70);
 border-radius: 5px;
 text-align: center;
 width: 200px;
 padding:.5vh;
 background-color:#F9A603;
 cursor: pointer;
 margin-left: 1vw;
 color: white;
}
.submitForm2:hover {
 background-color: #F25C00;
 color: white;
 cursor:pointer;
}

.history-slider{
 text-align: center;
}

.branded{
 font-family: 'Lobster', cursive;
 letter-spacing: 5px;
}
.subheader{
 margin-top: 0;
 font-family: 'Rokkitt', serif;
 letter-spacing: 5px;
 text-align: center;
 color:black;
}

.subheader3{
 margin-top: 4vh;
 font-size: 6vh;
 font-family: 'Rokkitt', serif;
 letter-spacing: 5px;
 text-align: center;
 color:black;
 border:1px solid black;
 padding:20px;
 border-radius: 15px;
 background-color: #ededed;
}

.canvasCenter{
 text-align: center;
}

.column-labels{
  color:black;
  text-align: center;
  font-family: 'Rokkitt', serif;
}

.fa-arrow-right:hover, .fa-arrow-left:hover {
  color:#F9A603;
}
.fa-times:hover{
  color:red;
}

.invalidUser{
  color: red;
  font-family: 'Rokkitt', serif;
  text-align: center;
  margin-top: 0px;
}

.welcome-header{
font-size:7vw;
color:black;
margin-top: 10vh;
margin-bottom: 2vh;
text-align: center;
font-family: 'Rokkitt', serif;
}

.home-well{
  border:1px solid black;
  width:100%;
  padding:20px;
  border-radius: 15px;
  /*background-color: #32FFE0;*/
  background-color: #ededed;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rokkitt', serif;
}

#well1:hover{
  background: #F9A603;
  cursor: pointer;
  color: white;
}
#well2:hover{
  background: #F9A603;
  cursor: pointer;
  color: white;
}
#well3:hover{
  background: #F9A603;
  cursor: pointer;
  color: white;
}

.description{
  width: 66%;
  text-align: center;
}

.icon1{
  color:#F70025;
}
.icon2{
  color:#F25C00;
}
.icon3{
  color:#FC354F;
}

.wheel-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
 .wheel-button-text{
   margin-top: 8px;
   text-align: center;
   font-family: 'Rokkitt', serif;
   color: white;
 }
 .wheel-saved-text{
   margin-top: 8px;
   text-align: center;
   font-family: 'Rokkitt', serif;
   color: black;

 }
 .wheel-button{

   padding:15px,;
   border-radius: 15px;
   background:#F9A603;
   border:1px solid black;
   width:120px;
   height:70px;
 }

 .wheel-button:hover{
   background-color: #F25C00;
 }

 .wheel-new{
   padding:5px;
   border-radius: 15px;
   background:#F9A603;
   border:1px solid black;
   color: white;
   width:120px;
   height:70px;
 }
 .wheel-new:hover{
   background-color: #F25C00;
 }

 .new-wheel-text{
   text-align: center;
   font-family: 'Rokkitt', serif;
   color: white;
 }

 .navbar-default{
   background-color:#3251FF
 }

 .entry-feature{
   padding: 30px;
   width: 350px;
 }

.blurb{
  margin-bottom: 20px;
}

.entry-title{
  font-weight: 800;
}

.entry-pic{
  background-image: url(./Life-coaching1.jpg);
  background-size: cover;
  width: 100vw;
  height: auto;
  min-height: 82vh;
  background-repeat:no-repeat;
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
}

#map {
  margin: 0;
  padding: 0;
  height: 100%;
}
