.app-container{
  width: 100vw;
  height: 100vh;
}
.login-form{
  width: 50vw;
  float: right;
  padding: 2vw;
}
/*.container{
  color: grey;
}*/

.wheel-container{
  width:20vw;
  margin: auto;
  /*background-color: white;*/
}

.background-container{
  background-image: url(./components/caspar-rubin-39821.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/*.title{
  color: grey;
  margin: 0px;
}*/


.navbar-inverse{
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100vw;
  margin: auto;
}

/*#troubleshoot{
  width:100vw;
  height:100vh;
  color:red;*/
}

#app{

  width: 100vw;
  height: 100vh;
}

.lifecoach{
  margin:auto;
  text-align:center;
  font-family: 'Yellowtail', cursive;
  font-size: 15vh;
  color:white;
}

.lifecoach-header{
  font-family: 'Yellowtail', cursive;
  font-size: 5vh;
}
