.app-container{
  width: 100vw;
  height: 100vh;
}
.login-form{
  width: 50vw;
  float: right;
  padding: 2vw;
}
.container{
  color: red;
}

.page-container{
  /*background-image: url(https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/How%20to%20calm%20a%20hyper%20dog.jpg?itok=Vg7ueySi);*/
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: yellow;

}

.title{
  color: green;
  margin: 0px;
}

.navbar{
  margin-bottom: 0px;
  background-color: green;
}

#troubleshoot{
  width:100vw;
  height:100vh;
  color:red;
}
