html {

width: 100vw;
height: 100vh;
}

body{
  background: url(./components/caspar-rubin-398212.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app-container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.login-form{
  width: 50vw;
  float: right;
  padding: 2vw;
}

.wheel-container{
  width:25vw;
  margin: auto;
}

.background-container{
  background-image: url(./components/caspar-rubin-39821.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}



.Navigation {
    position: fixed;
    width: 100vw;
}

#app{
  width: 100vw;
  height: 100vh;
}

.lifecoach{
  margin:auto;
  text-align:center;
  font-family: 'Lobster', cursive;
  font-size: 15vh;
  color:white;
}

.lifecoach-header{
  font-family: 'Lobster', cursive;
  font-size: 5vh;
}

.history{
  background-color: white;
}

.slider {
  width: 10vw;
}

.bodyText{
  text-transform:full-width;
  font-family: 'Rokkitt', serif;
  color: rgba(53, 53, 53, 0.65);
}

.jumbotronHeader{
  margin-top: 10vh;
  text-align: center;
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
}

.navigationBar{
  position: fixed;
  z-index: 1;
}
